@font-face {
    font-family: 'SpotifyMix';
    src: url('/fonts/SpotifyMix-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
